/* **
-- Custom font
** */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

:root {
    --bg-color-0: #3368DE;
    --bg-color-1: #16466E;
    --bg-color-2: #17547E;
    --bg-color-3: #185B86;
    --bg-color-4: #156695;
    --bg-color-5: #0973A5;
    --bg-color-6: #0876A9;
  }

/* **
-- BotUI styling
** */
.botui-container,
.botui-messages-container {
    background: transparent;
}

.botui-messages-container {
    max-height: 75vh;
    overflow-y: scroll;
}

#bot {
    max-width: 650px;
    margin: 0 auto;
}

.human.botui-message-content.text {
    background: var(--bg-color-3);
    color: white;
}

.botui-message-content {
    font-size: 14px;
    font-size: 1rem;
    font-family: 'Open Sans';
    background: #F5F5FA;
    color: black;
}

.botui-actions-buttons-button {
    background-color: var(--bg-color-3);
    color: white;
    font-size: 21.599px;
    font-size: 1.2rem;
    font-family: 'Open Sans';
    -webkit-transition: 300ms ease-in-out;
    transition: 300ms ease-in-out
}

.botui-actions-buttons-button:not(:focus) {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.botui-actions-text-input {
    color: var(--bg-color-3);
    font-size: 21.599px;
    font-size: 1.2rem;
    border-bottom: solid 2px currentColor;
    font-family: 'Open Sans';
    font-weight: bold;
    -webkit-transition: 300ms ease-in-out;
    transition: 300ms ease-in-out
}

.botui-actions-text-input:not(:focus) {
    font-style: italic;
}

.botui-action-text-icon {
    color: currentColor;
}

/* **
-- Global styling
** */
html {
    font-size: 16px;
}

body {
    margin: 0 auto;
    font-size: 18px;
    font-size: 1rem;
    font-family: 'Open Sans';
    background-color: white;
    color: white;
}

header, a, a:visited {
    color: var(--bg-color-3);
}

header {
    text-align: center;
}

a {
  text-decoration: none; /* no underline */
}

.bot-wrapper {
    margin: 0 10%;
    /*  width: device-width ;*/
    /*  zoom: 1.0 ;*/
}

#menu {
    height: 50%;
    font-size: 50%;
    vertical-align: middle;
    margin-right: 0px;
    margin-bottom: 15px;
    box-shadow: none;
}